<div id="wrapper">
	<div id="header">
		<div id="for-fans">
			Fans can view this.		
		</div>
	</div><!-- end #header -->
	
	<div id="share">
		Share this page.
	</div>
	<div id="logo">
		Logo
	</div>
	<div id="content">
		Content Section
	</div>
	<div id="bottom">
		Bottom or Footer Section
	</div>
</div><!-- end #wrapper -->