/* ----------------------------
Author: Anders Haig = minim.co
Version: 1.1
File: CSS Styles
---------------------------- */

/* GLOBAL */

body {
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
}

/* STANDARD */

#wrapper {
	width:500px;
	height:1000px;
	margin:0;
}

#header {
	width:500px;
	height:113px;
	background: url('../img/header-bg.jpg') 0 0 no-repeat;
}

#locked {
	width:500px;
	height:113px;
	background: url('../img/locked-bg.png') 0 0 no-repeat;
}

#unlocked {
	width:500px;
	height:113px;
	background: url('../img/unlocked-bg.png') 0 0 no-repeat;
}